*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100vh;
    margin: 0 auto;
    max-width: 1600px;
    font-family: 'Roboto', sans-serif;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 5rem;
    font-size: 18px;
    background: #f8f7f6;

    .header__block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .header__block-title{
        width: 100%;
        font-size: 14px;
        border-bottom: 1px solid rgba(201, 201, 201, 0.84);
        margin-bottom: 10px;
        text-align: center;
        }
      .header__block-content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
      }

            .header__block-box
            {
                margin-left: 3rem;
                div {
                    font-size: 16px;
                }
            }
          
    }
    .header__shopping-cart-block{
        display: flex;
        align-items: center;
            .header__shopping-cart-block_icon{
               &:hover{
               
            }
            }
           
        div{
            margin-left: 2em;
        }
        .header__shopping-cart-block_price{
            width: 10em;
            p{
                font-size: 24px;
                font-weight: bold;
            }
        }
    }
}
table {
    padding: 2em 0px;
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 2px solid rgb(241, 241, 241);
   

    th, td {
        border: 1px solid rgb(241, 241, 241);
        padding: 4px;
        text-align: center;
    }
    .table-name{
        text-align: left;
        padding-left: 20px;
        width: 25%;
    }
    .table-rank{
        width: 5%;
    }
    .icon-plus{
       
       img{ 
        cursor: pointer;
       }
    }
 
}
.content{

}   

.block{
    background: rgb(5, 89, 102);
    margin: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

 
    .block-items{
        display: flex;
        color: #f2f2f2;
        padding: 20px 0;

      p{
        font-size: 24px;
        padding-left: 20px;
      }  
    }
    .addCoin{
        
        background: #f2f2f2;
        font-size: 24px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        margin: 20px 0px;
        cursor: pointer;
    }
}

