*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

html{
    height: 100vh;
    margin: 0 auto;
    max-width: 1600px;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    .input-error{
        border-color: red;
    }
}

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 5rem;
    font-size: 18px;
    background: #f8f7f6;
    .img-briefcase{
        cursor: pointer;
    }
    .header__block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .header__block-title{
        width: 100%;
        font-size: 14px;
        border-bottom: 1px solid rgba(201, 201, 201, 0.84);
        margin-bottom: 10px;
        text-align: center;
        display: flex;
        justify-content: space-between;
        }
      .header__block-content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
      }

            .header__block-box
            {
                margin-left: 3rem;
                div {
                    font-size: 16px;
                }
            }
          
    }
    .header__shopping-cart-block{
        display: flex;
        align-items: center;
            .header__shopping-cart-block_icon{
               &:hover{
               
            }
            }
           
        div{
            margin-left: 2em;
        }
        .header__shopping-cart-block_price{
            width: 10em;
            p{
                font-size: 24px;
                font-weight: bold;
            }
        }
    }
}

table {
    padding: 2em 0px;
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 2px solid rgb(241, 241, 241);
   

    th, td {
        border: 1px solid rgb(241, 241, 241);
        padding: 4px;
        text-align: center;
    }
    .table-name{
        text-align: left;
        padding-left: 20px;
        width: 25%;
        font-weight: bold;
        cursor: pointer;
       
        span{
            color: black;
            font-size: 18px;
        }
    }
    .table-name:hover{
        background:#f1f1f1
    }
    .table-symbol{
        width: 10px;
        text-align: center;
        margin-left: 15px;
        b{
             color: rgb(236, 0, 145);
             padding: 0px 10px 0 0;

                }
    }
    .table-rank{
        width: 5%;
    }
    .icon-plus{
       
       img{ 
        cursor: pointer;
       }
    }
    .icon-plus:hover{
        background: rgb(250, 221, 221);
    }
 
}
.content{
    width: 70%;
    margin: 30px auto;

   .content__box-name{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

   }
   .title{
    font-weight: bold;
    font-size: 3rem;
    margin-left: 3rem;
    color:  rgb(148, 3, 83);;
   }
   
   .symbol{
    padding: 5px 10px;
    font-weight: bold;
    font-size: 45px;
    color: rgb(148, 3, 83);
    border: 4px solid rgb(148, 3, 83);
    background:  rgba(236, 0, 145, 0.4);
   }
    .table__info-coin{
        tr, td{
            padding: 10px 2rem;
            text-align: left;
            width: 60%;
        }
    }

    .info__content{
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: 20px auto;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px;
        
        background: #f2f2f2;
        border-radius: 15px;
     
    }
    .info__content_count{
        font-size: 24px;
        padding-bottom: 10px;
    }
    input{
        padding: 2px 10px;
        font-size: 24px;
        text-align: center;
        max-width: 150px;
        margin-bottom: 5px;
    }
 .info__content_btn{
    font-size: 16px;
    margin-top: 5px;
 }
 span{
     color: red;
     font-weight: bold;
 }
}   

.block{
    background: rgb(5, 89, 102);
    margin: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

 
    .block-items{
        display: flex;
        color: #f2f2f2;
        padding: 20px 0;

      p{
        font-size: 24px;
        padding-left: 20px;
      }  
    }
    .addCoin{
        
        background: #f2f2f2;
        font-size: 24px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        margin: 20px 0px;
        cursor: pointer;
    }
}

.modal{
 background: #fefefe;
    width: 100%;
    position: absolute; 
    z-index: 10000;   
    top: 20%;
    left: 34%;
    width: 37%;
    height: 70%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
 
    box-shadow: 1px 1px 4px rgb(236, 0, 145);
    .modal__content-box{
        border-radius: 10px;
        background: rgb(241, 241, 241);
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .modal__title-block_close{

     display: flex;
     justify-content: flex-end;
     margin: 10px 0px;
        img{
            display: block;
            cursor: pointer;
        }
    }
    .modal__content{
       
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        min-width: 34vw;
        height: 70%;
       

        .modal__content_btn-input{
            padding: 5px 10px;
            font-size: 24px;
            text-align: center;
            width: 30%;
        }
      
        span{
            display: block;
            margin-top: -10px;
            color: red;
            font-weight: bold;
        }
    }

  .modal__title-block_buy{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin: 10px;
    p{
        color: rgb(236, 0, 145);
        font-weight: bold;
        margin-left: 10px 
    }

  }
}
.transpatent{
    opacity: 0.1;
    overflow-y: hidden;
}
.btn{
    padding: 5px 10px;
    min-width: 100px;
}
.red{
    color: red;
}
.green{
    color:green;
}
