@import "~react-vis/dist/style";
@import "~react-vis/dist/styles/legends";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

html{
    height: 100vh;
    margin: 0 auto;
    max-width: 1600px;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    .input-error{
        border-color: red;
    }
}

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 5rem;
    font-size: 18px;
    margin: 0 auto;
    
    background: #f8f7f6;
    .img-briefcase{
        cursor: pointer;
    }
    .header__block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;

        .header__block-title{
        width: 100%;
        font-size: 14px;
        border-bottom: 1px solid rgba(201, 201, 201, 0.84);
        margin-bottom: 10px;
        text-align: center;
        display: flex;
 
    
        }
      .header__block-content{
        display: flex;
        flex-direction: row;
        width: 100%;
        
      }

            .header__block-box
            {
                margin-right: 3rem;
                div {
                    font-size: 16px;
                }
            }
          
    }
    .header__shopping-cart-block{

        display: flex;
        align-items: center;
        justify-content: flex-end;
            .header__shopping-cart-block_icon{
               &:hover{
               
            }
            }
           
        div{
    
             text-align: left;
            padding-right: 20px;
        }
        .header__shopping-cart-block_price{
            width: 8em;
            justify-content: flex-start;
            p{
                color:rgb(236, 0, 145); 
                font-weight: bold;
                font-size: 24px;
                font-weight: bold;
            }
        }
    }
}
.main-table{
    height: 70vh;
   }
table {
    padding: 2em 0px;
    width: 100%;
   
    margin: 20px auto;
    border-collapse: collapse;
    border: 2px solid rgb(241, 241, 241);

 

    th, td {
        border: 1px solid rgb(241, 241, 241);
        padding: 2px;
        text-align: center;
    }
    .delete-row{
        cursor: pointer;
 
    }
    .delete-row:hover{
        color: #f1f1f1;
        transition: 0.3s;
    }
    .table-name{
        text-align: left;
        padding-left: 20px;
        width: 25%;
        font-weight: bold;
        cursor: pointer;
       
        span{
            color: black;
            font-size: 18px;
        }
    }
    .table-name:hover{
        background:#f1f1f1
    }
    .table-symbol{
        width: 10px;
        text-align: center;
        margin-left: 15px;
        b{
             color: rgb(236, 0, 145);
             padding: 0px 10px 0 0;

                }
    }
    .table-rank{
        width: 5%;
    }
    .icon-plus{
       
       img{ 
        cursor: pointer;
       }
    }
    .icon-plus:hover{
        background: rgb(250, 221, 221);
    }
 

}
.table{
    .total {
    
        display: flex;
        align-items: center;
        padding: 10px;
        margin: 20px auto;
        justify-content: center;
        p{
            margin-left: 20px;
            font-size: 20px;
            font-weight: bold;
        }
       }
}
.content{
    width: 70%;
    margin: 30px auto;
.content__graph{
    display: flex;
    justify-content: center;
}
   .content__box-name{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

   }
   .title{
    font-weight: bold;
    font-size: 3rem;
    margin-left: 3rem;
    color:  rgb(148, 3, 83);;
   }
   
   .symbol{
    padding: 5px 10px;
    font-weight: bold;
    font-size: 45px;
    color: rgb(148, 3, 83);
    border: 4px solid rgb(148, 3, 83);
    background:  rgba(236, 0, 145, 0.4);
   }
    .table__info-coin{
        tr, td{
            padding: 10px 2rem;
            text-align: left;
            width: 60%;
        }
    }

    .info__content{
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: 20px auto;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px;
        
        background: #f2f2f2;
        border-radius: 15px;
     
    }
    .info__content_count{
        font-size: 24px;
        padding-bottom: 10px;
    }
    input{
        padding: 2px 10px;
        font-size: 24px;
        text-align: center;
        max-width: 150px;
        margin-bottom: 5px;
    }
 .info__content_btn{
    font-size: 16px;
    margin-top: 5px;
 }
 span{
     color: red;
     font-weight: bold;
 }
}   

.block{
    background: rgb(5, 89, 102);
    margin: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

 
    .block-items{
        display: flex;
        color: #f2f2f2;
        padding: 20px 0;

      p{
        font-size: 24px;
        padding-left: 20px;
      }  
    }
    .addCoin{
        
        background: #f2f2f2;
        font-size: 24px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        margin: 20px 0px;
        cursor: pointer;
    }
}

.modal{
 background: #fefefe;
    width: 100%;
    position: absolute; 
    z-index: 1000000;   
    top: 15%;
    left: 25%;
    width: 50%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    overflow: clip ;
    height: 80%;
    box-shadow: 1px 1px 4px rgb(236, 0, 145);
    .modal-add{
        width: 100%;
        height: 10vh;
    }
    .modal__content-box{
        border-radius: 10px;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .modal__title-block_close{
        display: flex;
        justify-content: flex-end;
        margin: 10px auto;
        img{
            display: block;
            cursor: pointer;
        }
    }
   div{
    width: 95%;
    text-align: center;
    margin: 0 auto;

    .modal__content_btn-add{
        cursor: pointer;
    }
   }
    .modal__content{
       
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        min-width: 50vw;
        height: 70%;
     

        .modal__content_btn-input{
            padding: 5px 10px;
            font-size: 24px;
            text-align: center;
            width: 30%;
        }
      
        span{
            display: block;
            margin-top: -10px;
            color: red;
            font-weight: bold;
        }
    }

  .modal__title-block_buy{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin: 10px;

    p{
        color: rgb(236, 0, 145);
        font-weight: bold;
        margin-left: 10px 
    }

  }
}
.transpatent{
    opacity: 0.1;
    overflow-y: hidden;
}
.btn{
    padding: 5px 10px;
    min-width: 100px;
}
.red{
    color: red;
}
.green{
    color:green;
}
.grey{
    background: #f1f1f1;
}
.fixed{
    position: fixed;
    overflow:hidden;
    margin: 0 auto;
}
.pagination{
   display: flex;
   justify-content: center;
   align-items: center;
   .active{
    background: red;
    background: rgb(234, 154, 198);

   }
   .pagination-btn{
    width: 25px;
    height: 25px;
    margin: 10px;
    //padding: 5px 10px;
    font-size: 16px;
   }
}